.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex: 1;
  min-width: 0;
}

.main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  width: 100%;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .contentContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .contentContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.sidebar {
  width: 16rem;
  flex-shrink: 0;
}

@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
